.loading-overlay {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  animation:myfirst 5s;
  -moz-animation:myfirst 5s infinite; /* Firefox */
  -webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
}

@-moz-keyframes myfirst {/* Firefox */
  0%   {background:grey;}
  50%  {background:lightgrey;}
  100%   {background:white;}
}

@-webkit-keyframes myfirst {/* Safari and Chrome */
  0%   {background:grey;}
  50%  {background:lightgrey;}
  100%   {background:white;}
}

body {
  background-color: #efefef;
}

#map{
  min-height: 94vh;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.list-group-item {
  cursor: pointer;
}


.list-group-item:nth-child(odd){
  background-color: lightgrey;
}
